.TypeContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.Type {
  border: 1px solid #ccc;
  border-radius: 30px;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: smaller;
  margin-bottom: 10px;
  padding: 5px;
  min-width: 50px;
}

.Type:not(:last-child) {
  margin-right: 5px;
}

.Type.Bug {
  background: #a9b820;
}

.Type.Electric {
  background: #f8d030;
}

.Type.Fairy {
  background: #f7c9e3;
}

.Type.Fire {
  background: #f07f30;
}

.Type.Flying {
  background: #a98ff0;
}

.Type.Grass {
  background: #78c84f;
}

.Type.Ground {
  background: #b7a038;
}

.Type.Normal {
  background: #b8b7d0;
}

.Type.Poison {
  background: #a040a0;
}

.Type.Water {
  background: #6890f0;
}

.Type.switch:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.Type.inactive:not(:hover) {
  background-color: gray;
}

.Type.inactive:hover {
  opacity: 0.6;
}
